.container{
    height: 55px;
    min-width:100%;
}
.pnrsttaus, .login, .signup{
    text-align: center;
    margin-top: 7px;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(100, 165, 250);
    background-color: rgb(100, 165, 250);
}
.pnrsttaus{
    margin-left: 10px;
}
.login{
    color: black;
    border: 2px solid rgb(100, 165, 250);
    background-color: transparent;
}
.logo{
    margin-top: 7px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: 'Rochester';
}
.f{
    width: 400px;
    margin-left: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

input{
    width: 370px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
label{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}
#gettrainsd, #gettrainstn{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(100, 165, 250);
    background-color: rgb(100, 165, 250);
}
#gettrainsd{
    width: 370px;
}
#gettrainstn{
    width: 97px;
}
.col2{
    margin-top: 70px;
}
#train_number{
    width: 270px;
}
.line{
    display: flex;
    flex-direction: row;
}
hr{
    width: 165px;
}
.o{
    background-color: rgb(159, 239, 250);
}
p{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
span{
    width: 400px;
    margin-left: 10px;
}
#profile{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
}
#name_of_user{
    font-size: 15px;
    font-weight: 700;

}
#profileimg{
    margin-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#username{
    margin-top: 20px;
    font-size: 18px;
}