.row12{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid black;
    width: 800px;
    margin-top: 40px;
    margin-left: 10%;
    height: 500px;
}
.left{
    background-color: rgb(100, 165, 250);
}
p{
    font-size: 40px;
}
h1{
    margin-top: 7%;
    margin-left: 5.8%;
}
label{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
input{
    width: 340px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;

}
.singup{
    font-size: 14px;
}
#signUp{
    color: white;
    width: 340px;
    height: 40px;
    font-size: 22px;
    border-radius: 5px;
    border: 2px solid rgb(100, 165, 250);
    background-color: rgb(100, 165, 250);
}
.lginwith,.lginwith1{
    height: 30px;
    width: 120px;
    text-align: center;
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 0px;
}
.c111, .c211{
    display: flex;
    width: 255px;
    border-radius: 5px;
    flex-direction: row;
}
.c123{
    border: 1px solid black; 
    display: flex; 
    border-radius: 5px;
    width: 200px;
    flex-direction: row; 
    margin-left: 3px;
}
.c111{
    margin-left: 23px;
    border: 1px solid black;
}
.line{
    display: flex;
    flex-direction: row;
}
hr{
    width: 151px;
}
.col1{
    display: flex;
    flex-direction: column;
}
.name{
    display: flex;
    flex-direction: row;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    z-index: 9;
  }
  